@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
}

.header,
.footer {
  width: 100%;
  background: #2ea7ad;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 1170px;
  }
}
.footer {
  background: #29969b;
}

.bepanthen {
  * {
    font-family: "Lexend", sans-serif;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;

    h2 {
      color: #234d96;
      font-size: 36px;
      margin: 40px 0;
      margin-top: 60px;
      text-align: center;
    }

    .banner {
      background-color: red;
      img {
        width: 100%;
      }
    }

    .video {
      margin: 20px 0;
      width: 100%;
      height: 400px;
      border: none;
    }

    .voucher {
      img {
        width: 100%;
      }
    }

    hr {
      width: 100%;
      margin: 30px 0;
      border: 1px solid rgb(240, 240, 240);
    }

    .info_banner {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
  }

  .mmcbt {
    width: 100%;
    align-items: stretch;
    gap: 15px;
    margin-bottom: 40px;

    .stars {
      img {
        width: 20px;
      }
    }

    .cta_btn {
      background-color: #ec1c24;
      color: white;
      padding: 10px 15px;
      font-weight: normal;
    }

    .product_info {
      gap: 30px;
      flex: 1;
      align-items: stretch;
      .product_img {
        width: 300px;
      }

      .info {
        align-items: start;
        flex: 1;
        h3 {
          color: #8f5a24;
          font-size: 20px;
          margin: 0;
          margin-bottom: 10px;
        }

        .reviews {
          color: #8f5a24;
          width: 100%;
          .stars {
            margin: 0 10px;
          }
        }

        .attr_list {
          align-items: stretch;
          margin: 15px 0;
          width: 100%;
          gap: 5px;

          .attr {
            color: #b48c65;
            font-size: 16px;
            .stars {
              margin-left: auto;
            }
          }
        }

        .join {
          background-color: #fec40d;
          margin-top: auto;
          width: 100%;
          padding: 0 20px;
          height: 80px;
          color: #6b0000;
          font-weight: bold;

          img {
            margin-right: 20px;
          }

          .cta_btn {
            margin-left: auto;
          }
        }
      }
    }

    .product_desc {
      align-items: start;
      background-color: #fffaeb;
      color: #818181;
      padding: 20px;
      h3 {
        color: #8f5a24;
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
      }
    }

    .review_carousel {
      margin-top: 10px;
      width: 100%;
      gap: 20px;
      align-items: stretch;
      position: relative;
      padding-top: 50px;

      .custom_nav {
        position: absolute;
        top: 0;
        right: 0;
        gap: 5px;

        .cta_btn {
          background-color: #00b4b8;
          cursor: pointer;
        }
      }

      .read_all {
        position: absolute;
        left: 0;
        top: 0;
      }

      .owl-carousel {
        width: 100%;
        .mmcbt_review {
          align-items: stretch;
          border: solid 1px #f0f0f0;
          padding: 15px 20px;

          .user_row {
            padding: 10px 0;
            border-bottom: solid 1px #f0f0f0;
            margin-bottom: 15px;
            gap: 5px;

            .avatar {
              width: 25px;
              height: 25px;
              background-color: #00b4b8;
              border-radius: 999px;
              color: white;
              justify-content: center;
            }
            .stars {
              margin-left: auto;
            }
          }

          strong {
            color: black;
            font-size: 20px;
          }
          p {
            color: #818181;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .read_more {
            color: #56a5de;
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }
      .all_review {
        background: url("./assets/mmcbt_bg.jpg");
        background-size: cover;
        padding: 20px 0;
        img {
          width: 300px;
          padding: 20px;
        }
        .cta_btn {
          margin-top: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .bepanthen {
    .content {
      width: 90%;
    }
    .mmcbt {
      .product_info {
        .product_img {
          width: 200px;
        }

        .info {
          align-items: start;
          flex: 1;
          h3 {
            color: #8f5a24;
            font-size: 20px;
            margin: 0;
            margin-bottom: 10px;
          }

          .reviews {
            color: #8f5a24;
            width: 100%;
            .stars {
              margin: 0 10px;
            }
          }

          .attr_list {
            align-items: stretch;
            margin: 15px 0;
            width: 100%;
            gap: 5px;

            .attr {
              color: #b48c65;
              font-size: 16px;
              .stars {
                margin-left: auto;
              }
            }
          }

          .join {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .bepanthen {
    .mmcbt {
      .product_info {
        flex-direction: column;
        .product_img {
          width: 100%;
        }
      }
    }
  }
}
